<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170009661959-1kbbemp4bo21o7djq2ccufcah9qgl7ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170009661959-1kbbemp4bo21o7djq2ccufcah9qgl7ja</string>
	<key>API_KEY</key>
	<string>AIzaSyAtkd2TxYkcDd2v-etDw0TaWYjCIBiZBlM</string>
	<key>GCM_SENDER_ID</key>
	<string>170009661959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.physiotracker</string>
	<key>PROJECT_ID</key>
	<string>physiotracker</string>
	<key>STORAGE_BUCKET</key>
	<string>physiotracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170009661959:ios:2ef9cb7bba3e4fdf4850a2</string>
	<key>DATABASE_URL</key>
	<string>https://physiotracker.firebaseio.com</string>
</dict>
</plist>