<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376720011033-c2l6rk5ng2rj6sf46482g8t79fhcq8pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376720011033-c2l6rk5ng2rj6sf46482g8t79fhcq8pr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376720011033-5bev7si72jr2ekogrqoj4bb72b8nod5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT4jcZc6RgmHdx_y6JTC4mEhRgkE-3jc4</string>
	<key>GCM_SENDER_ID</key>
	<string>376720011033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xenonlabs.kiqbacks</string>
	<key>PROJECT_ID</key>
	<string>kickback-239215</string>
	<key>STORAGE_BUCKET</key>
	<string>kickback-239215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376720011033:ios:e429aece03d88a7e6e9f88</string>
	<key>DATABASE_URL</key>
	<string>https://kickback-239215.firebaseio.com</string>
</dict>
</plist>